nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin: 0 100px;
    
}
.text-primary{
    color: rgb(255, 0, 0);
}
.btn{
    background-color: black;
    color: rgb(246, 6, 6);
    font-size: 20px;
    padding: 20px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{

    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(251, 38, 0) ;
    font-size: 20px;
}
.header{
    background-color: rgba(223, 243, 209, 0.738);
   
}
.banner{
    align-items: center;
    font-size: 25px;
    padding: 30px 100px 0 100px;
   display: flex;
}
.banner .pic{
    width: 500px;
}
main section{
    margin-top: 150px;
}
.about{
    padding: 10px 100px 10px 100px;
    font-size: 20px;
    background-color: goldenrod;
    margin: 50px 200px 0 200px;
}
.section-title{
    text-align: center;
    font-size: 35px;
}
.description{
    text-align: center;
    font-size: 20px;
    padding: 10px 100px 10px 100px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.what{
    padding: 10px 100px 10px 100px;
    font-size: 20px;
    
    margin: 50px 200px 0 200px;
}
.wha{
    text-align: center;
    font-size: 25px;
}
.whatdes{
    text-align: center;
    font-size: 20px;
    padding: 10px 100px 10px 100px;
}
.skill-container{
    display: flex;
    gap: 25px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: rgb(8, 79, 4);
    
}
/* resume section styles */
.resume-column-title{
    color: rgb(6, 52, 6);
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 100px;
    padding: 30px 300px;
}
.download-cv{
    text-align: center;
}


/* footer section */
footer{
    display: flex;
    background-color: bisque;
    padding: 100px 200px;
    margin-top: 100px;
    gap: 100px;
}
.ftr{
    
   width: 50%;
   padding: 0 100px;
   
}
.form input, textarea{
    display: block;
    margin-bottom: 25px;
    width: 100%;
}
.social-links a{
  margin-right: 25px;
}