nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin: 0 100px;
    
}
.text-primary{
    color: rgb(255, 0, 0);
}
.btn{
    background-color: black;
    color: rgb(246, 6, 6);
    font-size: 20px;
    padding: 20px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{

    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(251, 38, 0) ;
    font-size: 20px;
}
.header{
    background-color: rgba(223, 243, 209, 0.738);
   
}
.banner{
    align-items: center;
    font-size: 25px;
    padding: 100px;
   display: flex;
}
.banner .pic{
    width: 400px;
}
